@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quantum";
  src: local("Quantum"),
    url("./fonts/Quantum.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Azonix";
  src: local("Azonix"),
    url("./fonts/Azonix.otf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Azonix', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
